.box-A.cover{
    background-color: #1597E5; 
    min-height:230px;
    
}
.box-B.cover{
    background-color: #198754; 
    min-height:230px;
    
    
}
.box-C.cover{
    background-color: #F4A442; 
    min-height:230px;

}
.box-A.botton{
    background-color: #FF6B6B; 
    border-radius: 50px; width: 100px;
}
.box-B.botton{
    background-color: #233E8B; 
    border-radius: 50px; width: 100px;
}
.box-C.button{
    background-color: #3E7C17; 
    border-radius: 50px; width: 100px;

}
.card-body{
    border-radius: 80px;
  }
  .page-footer{
    padding: 60px 15px 0;
    background-color: rgb(255, 255, 255);
  }
  
  .free-quote {
    background: #4da6e7;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0px;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 130px;
  }
  
  .free-quote .section-heading {
    margin-bottom: 60px;
  }
  
  .free-quote .section-heading h6,
  .free-quote .section-heading h4 {
    color: #fff;
  }
  
  .free-quote .section-heading .line-dec {
    margin: 0 auto;
    background-color: #fff;
  }
  
  .free-quote form {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    min-height: 80px;
    border-radius: 40px;
    position: relative;
    z-index: 1;
  }
  
  .free-quote form input {
    width: 100%;
    margin-top: 20px;
    margin-left: 30px;
    color: #afafaf;
    font-weight: 400;
    font-size: 15px;
    height: 40px;
    background-color: transparent;
    border-bottom: 1px solid #eee;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    z-index: 2;
    outline: none;
  }
  
  .free-quote form button {
    width: 100%;
    height: 80px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    outline: none;
    border: none;
    margin-left: 30px;
    background-color: #4da6e7;
    font-size: 15px;
    color: #fff;
  }
  .bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
    
  }
  
  .bg-holder.bg-right {
    left: auto;
    right: 0;
  }

  .bg-holder.overlay:before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  