#book-box
	margin-bottom: 60px
h5.topic
	margin-top: 100px
.book-button
	margin-top: 100px
.row.g-1.flex-center
	margin-top: 50px
#item
	display: flex
	flex-direction: column
	justify-content: center
.box-A
	&.cover 
		background-color: #1597E5
		min-height: 230px 
	&.button 
		background-color: #FF6B6B 
		border-radius: 50px 
		width: 100px
		
.box-B
	&.cover 
		background-color: #198754 
		min-height: 230px 
	&.button 
		background-color: #233E8B 
		border-radius: 50px 
		width: 100px 
.box-C
	&.cover 
		background-color: #F4A442 
		min-height: 230px 
	&.button 
		background-color: #3E7C17 
		border-radius: 50px 
		width: 100px		 
.box-D
	&.cover 
		background-color: #818181
		min-height: 230px 
	&.button 
		background-color: rgb(247, 247, 247) 
		border-radius: 0px
		margin-top: 100px 