doctype html
html
    include includes/main.pug
    head
        title booking 
    body
        include navbar.pug
        include mixin.pug
        section#book-box
            .container
                .row.h-100
                .col-lg-7.mx-auto.text-center.mb-6
                    h5.topic.fw-bold.fs-3.fs-lg-5.lh-sm.mb-3 Pick the place that’s best for you
                .row.g-1.flex-center                                  
                    -var names = ['A01', 'A02', 'A03', 'A04', 'A05','A06']
                    each val , index in names
                        if index < 3
                            .col-12.col-sm-4.col-md-3.col-lg-4.col-xl-2
                                .item.text-light.fw-bold.px-3.box-D.cover#item=val
                                    .text-light.fw-normal.fs-0 $9
                                        .text-danger.fw-bold.text-center.box-D.button Booked
                        else                            
                            -let modalId = val 
                            .col-12.col-sm-4.col-md-3.col-lg-4.col-xl-2
                                .item.text-light.fw-bold.px-3.box-A.cover#item=val
                                    .text-light.fw-normal.fs-0 $9                        
                                    button.book-button.text-light.box-A.button(type='button' data-bs-toggle='modal' data-bs-target="#"+modalId) Book  Now
                                +modal(modalId,'A',val)
                                                                                                               
                    each val in ['B01', 'B02', 'B03', 'B04', 'B05','B06']
                        -let modalId = val 
                        .col-12.col-sm-4.col-md-3.col-lg-4.col-xl-2
                            .item.text-light.fw-bold.px-3.box-B.cover#item= val
                                .text-light.fw-normal.fs-0 $9
                                button.book-button.text-light.box-B.button(type='button' data-bs-toggle='modal' data-bs-target="#"+modalId) Book  Now
                            +modal(modalId,'B',val)
                                                             
                    each val in ['C01', 'C02', 'C03', 'C04', 'C05','C06']
                        -let modalId = val  
                        .col-12.col-sm-4.col-md-3.col-lg-4.col-xl-2
                            .item.text-light.fw-bold.px-3.box-C.cover#item= val
                                .text-light.fw-normal.fs-0 $9
                                button.book-button.text-light.box-C.button(type='button' data-bs-toggle='modal' data-bs-target='#'+modalId) Book  Now
                            +modal(modalId,'C',val)
                include footer.pug