doctype html
html
    include includes/main.pug
    head
      title home 
    body 
      include navbar.pug
      section#landing-page
        .container
          .g-3.mb-3.row
            .col-lg-6 
              .row
                .col-lg-6.py-5.py-xl-5.py-xxl-7
                  h4.display-3.fw-normal Park before arriving !
                  h1.display-3.text-primary.fw-bold Discover nice spaces
                .pt-5
                  nav  
                    #nav-tabContent.tab-content
                      form.row.g-4.mt-5
                        .col-sm-6.col-md-6.col-xl-5                      
                          label.form-label.text-warning.fw-bolder(for='form3Example3cg') arrival day 
                        .col-sm-6.col-md-6.col-xl-5
                          label.form-label.text-success.fw-bolder(for='form3Example3cg') arrival time
                        .col-sm-6.col-md-6.col-xl-5                     
                          input.input-dateOne.form-control.input-box.form-voyage-control(type='date')                   
                        .col-sm-6.col-md-6.col-xl-5
                          input.form-control.input-box.form-voyage-control(placeholder='Enter Your arrival time')    
                    .my-5.text-center
                      a.find-parking(href='../html/bookpark.html')
                        button.btn.btn-lg.btn-warning.hover-top.btn-glow.rounded-pill.border-0(type='button') Find parking               
            .col-lg-6
                  img.car-img(src='../img/car-parking.png', alt='img')
                                                                          
      section#how-it-happens
      .container
        .row
          .col-12
            p.text-center How It happens 
            h1.text-center.lh-sm.fs-lg-6.fs-xxl-7  Discover amazing spaces
        .row.mt-6
          .col-12.col-md-4.d-flex.flex-column.align-items-center
            .badge.badge-circle.bg-soft-primary.flex-center
              .text-primary.fs-7.font-base.number 1
            h5.text-primary.text-center.mt-3 Find your car park! 
            p.text-center.mx-xl-7 Find parking anywhere, for now or for later
          .col-12.col-md-4.d-flex.flex-column.align-items-center
            .badge.badge-circle.bg-soft-warning.flex-center
              .text-warning.fs-7.font-base.number 2
            h5.text-primary.text-center.mt-3 Compare, book! 
            p.text-center.mx-xl-7 Compare prices &amp; pick the place that's best for you
          .col-12.col-md-4.d-flex.flex-column.align-items-center
            .badge.badge-circle.bg-soft-success.flex-center
              .text-success.fs-7.font-base.number 3 
            h5.text-primary.text-center.mt-3 And park!
            p.text-center.mx-xl-7
              | Upon arrival, just show your reservation in the car park. There is no need to print anything out!

        section#Our-Packages
            .container
                .row.justify-content-center
                    .col-12                  
                        h1.text-center.lh-sm.fs-lg-6.fs-xxl-7#text-packages Our Packages
                .row.h-100.justify-content-center
                    .col-md-4.pt-6.px-sm-7.px-md-2.px-lg-3
                            .card.overflow-hidden
                                .card-body#card-1
                                    .ms-4
                                        h5.my-4.text-800 Basic
                                        h1.fs-7.text.text-primary $9
                                        h6.fs--1.mb-6.text-primary / per day
                                        ul.list-unstyled
                                            li.mb-3.text-900
                                            i.fas.fa-check-circle.text-700.me-2
                                            | Find parking anywhere
                                            li.mb-3.text-900
                                            i.fas.fa-check-circle.text-700.me-2
                                            | Single Revision
                                            li.mb-3.text-900
                                            i.fas.fa-check-circle.text-700.me-2
                                            | 10 Products per order
                                            li.mb-3.text-900
                                            i.fas.fa-check-circle.text-700.me-2
                                            | Not providing soft-copy
                                            li.mb-3.text-900
                                            i.fas.fa-check-circle.text-700.me-2
                                            | Once booked, it cannot be cancelled.
                                    .my-5.text-center
                                        a(href='home.html')
                                            button.btn.btn-lg.btn-outline-primary.rounded-pill(type='button') Choose plan

                    .col-md-4.pt-6.px-sm-7.px-md-2.px-lg-3
                        .card.overflow-hidden
                            .card-body#card-2
                                .ms-4
                                    h5.my-4.text-800 Avarage
                                    h1.fs-7.text.text-warning $29
                                    h6.fs--1.mb-6.text-warning / per day
                                    ul.list-unstyled
                                        li.mb-3.text-900
                                        i.fas.fa-check-circle.text-700.me-2
                                        | Parking only 24 hours
                                        li.mb-3.text-900
                                        i.fas.fa-check-circle.text-700.me-2
                                        | Find parking anywhere
                                        li.mb-3.text-900
                                        i.fas.fa-check-circle.text-700.me-2
                                        | Compare prices
                                        li.mb-3.text-900
                                        i.fas.fa-check-circle.text-700.me-2
                                        | Pay once per booking
                                        li.mb-3.text-900
                                        i.fas.fa-check-circle.text-700.me-2
                                        | Once booked, it cannot be cancelled.
                                .my-5.text-center
                                    a(href='home.html')
                                        button.btn.btn-lg.btn-warning.hover-top.btn-glow.rounded-pill.border-0(type='button') Choose plan
                    .col-md-4.pt-6.px-sm-7.px-md-2.px-lg-3
                        .card.overflow-hidden
                            .card-body#card-3
                                .ms-4
                                    h5.my-4.text-800 Professional
                                    h1.fs-7.text.text-success $129
                                    h6.fs--1.mb-6.text-success / per month
                                    ul.list-unstyled
                                        li.mb-3.text-900
                                        i.fas.fa-check-circle.text-700.me-2
                                        | Parking more than 24 hours
                                        li.mb-3.text-900
                                        i.fas.fa-check-circle.text-700.me-2
                                        | You Can park up to 1 month
                                        li.mb-3.text-900
                                        i.fas.fa-check-circle.text-700.me-2
                                        | No compare prices
                                        li.mb-3.text-900
                                        i.fas.fa-check-circle.text-700.me-2
                                        | Pay once 
                                        li.mb-3.text-900
                                        i.fas.fa-check-circle.text-700.me-2
                                        | Once booked, it cannot be cancelled.
                                .my-5.text-center
                                    a(href='home.html')
                                        button.btn.btn-lg.btn-outline-success.rounded-pill(type='button') Choose plan      
        include footer.pug