doctype html
html
  head  
  style
    include  index.css
    include  bootstrap.css 
  body
    div.col-12 
        h1.text-center Our Packages
            div.col-md-4pt-6px-sm-7px-md-2px-lg-3  
                div.card-body 
                    div.ms-4
                        h5.my-4text-800 Basic 
                        h1.text-danger $9
                        h6.fs--1mb-6text-warning
    							
    footer.page-footer
        div.free-quote
            div.container
                div.row
                    div.col-lg-4offset-lg-4 
                        h3 You Need Help  ?
                        h1 Get In Touch With Us Now
                
                    div.col-lg-8offset-lg-2
                        from                                                                          
                            input(type="text" class='form-control' name="email" placeholder="Your Email")                       
                            button(type='submit' class='form-botton') Subscribe