doctype html
html
  head
  style
      include  index.css
  body
  footer.page-footer
    div.free-quote
        div.container
            div.row
                div.col-lg-4offset-lg-4 
                    h3 You Need Help  ?
                    h1 Get In Touch With Us Now
                div.col-lg-8offset-lg-2
                    from#
                        div.row                                                                           
                            input(type="text" name="question" placeholder="Your Question")
                            input(type="text" name="email" placeholder="Your Email")
                            button(type='submit' class='main-button') Ask now

                                    


