mixin modal(id,zone, val)
  .modal.fade(id=id data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header.btn.btn-warning
          h5.text-primary.modal-title Let's park
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
            h6='#zone ' +zone
            p.text-dark='Would you like to reserve  '+ val +' ? '             
        .modal-footer
          button.btn.btn-danger(type='button' data-bs-dismiss='modal') Close
          a(href='checkout.html')
            button.btn.btn-success(type='button') Yes