doctype html
html
    include includes/main.pug
    head
      title home 
    body
      main#top.main
            nav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3.d-block(data-navbar-on-scroll='data-navbar-on-scroll')
                .container
                    a.navbar-brand(href='./index.html')
                        span.fw-bold.text-primary.ms-2 Let's park
                    button.navbar-toggler.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse.border-top.border-lg-0.mt-4.mt-lg-0
                        ul.navbar-nav.mx-auto.pt-2.pt-lg-0.font-base
                        a#navbar-collapse.btn.text-800.order-1.order-lg-0.me-2(href='index.html')
                            i.bi-house-door
                            | Home
                        a.btn.btn-voyage-outline.order-0.text-primary(href='login.html')
                            i.bi-person
                            | Logout 