doctype html
html
    include includes/main.pug
    head
    body
      -var names = ['A01', 'A02', 'A03', 'A04', 'A05','A06']
      each val , index in names
        if index < 3
          div= index + ':' + val 
      else 
        p no value