doctype html
html
    include includes/main.pug
    head
    body
    .row.g-1.flex-center
      -var names = ['A01', 'A02', 'A03', 'A04', 'A05','A06']
      each val , index in names
        if index < 3
          .col-12.col-sm-4.col-md-3.col-lg-4.col-xl-2
            .item.text-light.px-3.box-A.cover#item=val
              a.book-button(href='checkout.html')
                  button.main-button.text-light.box-A.button(type='submit') Book  Now
        else 
          .col-12.col-sm-4.col-md-3.col-lg-4.col-xl-2
            .item.text-light.px-3.box-A.cover#item=val
              a.book-button(href='checkout.html')
                  button.main-button.text-light.box-B.button(type='submit') Book  Now